html{
	scroll-behavior: smooth;
        font-family:'Times New Roman',Times, sans-serif;
}
/*

@media only screen and (min-width: 600px) {
	nav{
	  background-color: lightblue;
	}
  }
*/


body{
    background-image: url(Images/mini-profile-bg-01.jpg);
    font-size: auto;
    overflow-x: hidden;
    background-attachment: fixed;
}
/*========THIS IS THE CSS FOR THE DASHBOARD IN A_ZSMS_dashboaord.html==========*/
			nav{
			    background: wheat;
			    height: 12vh;
			    width: 100%;
			    top: 0%;
			    left: 0%;
			    display: flex;
	        z-index: 1;
	        /*align-items: center;*/
	        justify-content: space-between;
	        border: none;
	        box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
	        position: fixed;
	       }
/*

	   .left_sidebar_nav{
			background: wheat;
			height: 12vh;
			width: 100%;
			top: 0;
			position: absolute;
			z-index: 1;
			left: 0%;
		}
		Mrain menubar at the top*/
		/*.fa-bars{
			color: #ffffff;
			font-size: auto;
			margin-left: 1%;
			margin-top: 1%;
			margin-bottom: auto;
			background: wheat;
		}
*/
/*
		.left_sidebar{
			background-color: whitesmoke;
			width: 0%;
                        height:0%;
			position: fixed;
	                box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
	                overflow: hidden;
	                top: 0%;
	                left: 0%;
	                height: 100vh;
	                transition: height 0.5s;
	   }
	.left_sidemenu_list{
	list-style: none;
	display: grid;
	position:absolute;;
	margin-left: 0%;
	margin-top: 35%;
	   }

	   .h4{
	   	margin-right: 75%;
	   	font-size: auto;
	   	color: purple;
	   }
*/
a{
	text-decoration: none;
        
        color:green;
        
}

.profpic_1{
width: 50px;
height: 50px;
border-radius: 50%;
display:block;
z-index:1;
padding:2%;
        

       

}

#profpicbox{
/*position:right;
margin-right:85%;*/
width:20%;
float:left;
height:12vh;

}
/*
.menubar{
	
	display:inline-block;
	z-index:1;
	text-align: left;
        color:green;
height: 12vh;
padding: 2%;


}*/
#menubarbox{
margin-right:25%;
left:0%;
width:80%;
color:green;
height: 12vh;
padding-top: auto;
padding-bottom:auto;
z-index:1;
display:inline-block;

}
   .welcome_areatext{
	  background:white;
	  width: 100%;
	  height: fit-content;
	  z-index: 1;
	  text-align: justify;
	  border-radius: 5%;
	  margin-top: 200%;
	  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
          padding:1%%;
	
	}

   .welcome_education{
	  background:white;
	  width: 100%;
	  z-index: 1;
	  border-radius: 5%;
	  margin-top: 15%;
	  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
          padding:1%;
text-align: justify;

   }
#footer-home{
	bottom: 0%;	
	left: 0%;
	width: 100%;
	background:#b2fdff;
	font-size: auto;
	position: fixed;
	height: 0%;
}
#footer-home,.li_footer{
	display: inline-block;
	list-style-type: none;
	text-align: center;
	font-size: auto;
}

.p1{
	color: auto;
	padding:2% 2% 2% 2%;
}
.about_profpic{
	display: block;
	width: 100px;
	height: 100px;
	margin-left: auto;
	margin-right:auto ;
	margin-bottom: 2%;
	border-radius: 50%;

}
.figcaptionstyle{
	text-align: center;
}
 hr{
	 border-style: none;
 }
